# LLM Learning

This is a GitHub repository to help me self-learn large language models.

## Resources used

- [Build a Large Language Model from Scratch](https://www.manning.com/books/build-a-large-language-model-from-scratch) by Sebastian Raschka